*.pyc
*.pyo
*.egg
.installed.cfg
.idea
.tox
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
*/example_project.db
venv
build
docs/_build
*sqlite*
/etc/static_collected/
/etc/dist/
/etc/node_modules/
/ttnet/my/
/etc/.tmp/
*.log