{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{% trans "On Approval" %} {{ cls_meta.verbose_name_plural }}</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                {% for list_display in list_displays %}
                    <th scope="col">
                        {{ list_display }}
                    </th>
                {% endfor %}
                <th>
                    {% trans "Operations" %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for values in objects %}
                <tr>

                    {% for value in values.1 %}
                        <td scope="col">
                            {{ value }}
                        </td>
                    {% endfor %}
                    <td>
                        {% daw_process_buttons values.0 cls state_field next_button_text %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {% daw_process_button_modals %}
{% endblock %}