{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <script>
        $(function () {
            if (typeof nextStates == "undefined") {
                nextStates = {}
            }
            nextStates[{{ obj_pk }}] = []
            {% for approvement in approvements %}
                nextStates[{{ obj_pk }}].push([{{ approvement.approve_definition.transition.destination_state.pk }}, "{{ approvement.approve_definition.transition.destination_state.label }}"])
            {% endfor %}
        })

    </script>
    {% if approvements.count > 0 %}
        <a data-id="{{ obj_pk }}" data-count="{{ approvements.count }}" title="{% trans "Next State" %}" class="btn btn-primary dawApproveNextState" href="#">{% trans "Next State" %}</a>
    {% endif %}
{% endblock %}

